* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rodape {
    background-color: #252525fa;
    width: 100vw;
    height: 20vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rodape__titulo {
    color: #fff;
    padding: 0.5em 0;
    font-size: 25px;
}

#rodape__link{
    text-decoration: none;
    color: #b2afaf;
}

.rodape__icons{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em 0 0 0;
}

.icons__imagens{
    height: 35px;
    filter: invert(98%) sepia(0%) saturate(6968%) hue-rotate(105deg) brightness(81%) contrast(91%);
}