@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&display=swap');


:root {
    --fonte-nav: 'Afacad', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 25px; /* Espaçamento interno do cabeçalho */
    display: flex;
    justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
    align-items: center; /* Centraliza verticalmente os elementos */
    flex-wrap: wrap;
    flex-direction: row;
}

#logo {
    color: #fff; /* Cor do texto do logo */
    margin-left: 50px;
    font-family: var(--fonte-nav);
    font-size: 1.5em;
    letter-spacing: 10px;
}

nav {
    font-weight: 500;
    font-family: var(--fonte-nav);
}

nav ul {
    list-style-type: none;
    margin-right: 50px;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 40px; /* Espaçamento entre os itens do menu */
}

nav ul li:last-child {
    margin-right: 0; /* Remove o espaçamento à direita do último item do menu */
}

nav a {
    letter-spacing: 4px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff; /* Cor do texto dos links */
}

nav a:hover {
    size: 10px;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
}

