@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}

main{ 
    background-image: url(/assets/landing-assets/logo/2LOGO2.png);
    background-repeat: no-repeat;
    background-attachment:   ;
    background-position: center;
    background-size: 50% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#sec1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-bottom: 30px;
}

#topprin{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 400px;
    height: 300px;
    background-color: #f3ebd7;
    box-shadow: 15px 20px 15px -3px rgba(0,0,0,0.1);
    margin: 20px; 
}



h2 {
    width: 300px;
    font-size: 20px;
}

#conjun {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grade {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

.bloquinho{
    border-radius: 30px;
    width: 400px;
    height: 300px;
    background-color: #f3ebd7;
    box-shadow: 15px 20px 15px -3px rgba(0,0,0,0.1);
    margin: 20px;   
}

.bloquinho, .cima, .baixo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iconmission {
    height: 60px;
}

.icnnn {
    transform: rotate(180deg);
}